{% extends 'blogs/base.html' %}

{% block content %}

  <p>{{ blog.owner }}'s {{ blog.title }}
    {% if user.is_authenticated and user == blog.owner %}
       - <a href="{% url 'blogs:delete_blog' blog.id %}">Delete blog</a></p>
    {% endif %}
  <p>Posts:</p>
  {% if user.is_authenticated and user == blog.owner %}
    <p><a href="{% url 'blogs:new_post' blog.id %}">Add new post!</a></p>
  {% endif %}
  <ul>
    
    {% for post in posts %}
      <li>
        <p>{{ post.date_added|date:'M d, Y h:i' }}
          {% if user.is_authenticated and user == blog.owner %} - 
            <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
          {% endif %}
        </p>

        <p>{{ post.text|linebreaks }}</p>
      </li>
    {% empty %}
      <li>There are 0 posts for this blog.</li>
    {% endfor %}
      
  </ul>
  
{% endblock content %}