{% extends 'blogs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h3>Delete blog: {{ blog.title }}</h3>
{% endblock page_header %}

{% block content %}

  <p style="color:red">The entire blog including all posts associated with it 
    will be deleted.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mb-2">DELETE BLOG</button>
  </form>
  <a class="btn btn-warning" href="{% url 'blogs:blog' blog.id %}">Cancel</a>
  
{% endblock content %}