{% extends 'blogs/base.html' %}
{% load django_bootstrap5 %}


{% block page_header %}
  <h3><a href="{% url 'blogs:blog' blog.id %}">{{ blog.title }}</a></h3>
{% endblock page_header %}
  
{% block content %}
<a class="btn btn-danger" 
  href="{% url 'blogs:delete_post' post.id %}">Delete post</a>
  <h6>Edit post:</h6>
  <form action="{% url 'blogs:edit_post' post.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="reset" content="Reset" extra_classes="btn-warning" %}
    {% bootstrap_button button_type="submit" content="Save changes" extra_classes="btn-success" %}
  </form>

{% endblock content %}