{% extends 'blogs/base.html' %}

{% block page_header %}
  <div class="p-1 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-0">
      <h1 class="display-3">Share your Story</h1>
      <p class="lead">Unleash Your Creativity: Create, Share, Connect - Welcome 
        to Blogiverse, where you can effortlessly craft and share your unique 
        blogs and posts with our vibrant community.</p>
      {% if user.is_authenticated %}
      {% else %}
        <a class="btn btn-primary btn-lg mt-0 mb-1"
          href="{% url 'accounts:login' %}">Log in &raquo;</a>
        <a class="btn btn-primary btn-lg mt-0 mb-1"
          href="{% url 'accounts:register' %}">Register &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock page_header %}


{% block content %}
  <p>Sorted by most recent.</p>

      {% for post in posts %}
        <div class="card mb-3">
          <h6 class="card-header d-flex justify-content-between align-items-center">
            [{{ post.blog.owner }}]&nbsp;
              <a href="{% url 'blogs:blog' post.blog.id %}">
                [{{ post.blog.title }}]</a>&nbsp;- 
                ({{ post.date_added|date:'M d, Y H:i'}})
               <span class="ms-auto">
                <button class="btn btn-sm btn-primary">Like</button>
                <span class="badge bg-secondary">0 Likes</span>
              </span>
          </h6>
            <div class="card-body py-1">{{ post.text|linebreaks }}</div>
        </div>
      {% empty %}
        <p>There are 0 posts.</p>
      {% endfor %}

{% endblock content %}